<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/home.css">

</head>
<body>
    <div class="header">
        <div class="ico-text">
            <img src="../icos/icon.webp" alt="icon" width="20" height="20">
            <header>WellFinance</header>
        </div>
        <img alt="yourprofilepic" src="../icos/profile.png" height="40px" width="40px">
    </div>
    <div class="setup">
        <div class="side-bar">
            <div class="ico-text-arr , onit"> 
                <img src="../icos/home.png" alt="homepage" width="16" height="16">
                <button >HOME</button>
            </div>
            <div class="ico-text-arr">
                <img src="../icos/wallet.png" alt="wallet" width="16" height="16">
                <button>BUDGETING</button>
            </div>
            <div class="ico-text-arr"> 
                <img src="../icos/stonks.png" width="16" height="16" alt="stocks">
                <button>INVESTMENTS</button>
            </div>
            <div class="ico-text-arr"> 
                <img src="../icos/health.png" alt="health" width="16" height="16">
                <button>HEALTH LOG</button>
            </div>
            
           <div class="ico-text-arr">
                 <img src="../icos/settings.png" width="16" height="16" alt="settings">
                 <button>SETTINGS</button>
            </div>
        </div>

        <div class="main">
            <h1>Good Morning, Hiranmaay!</h1> 

         <div class="home-init">
            <div class="home-main">
               <p>$4000</p>
               <h2>Budget Balance</h2>
               <p class="per">+30%</p>
            </div>
            <div class="home-main">
                <p>19%</p>
                <h2>Spent This Month</h2>
                <p class="per">+2%</p>
            </div>
            </div>

            <div>
                <div class="layered"> 
                <H3>Savings Goals</H3>
                <div class="mention">
                <h4 >Hawai Vacations</h4>
                <h5 contenteditable="true" id="editable">$6000</h5>
                 </div>
                <button type="button" class="bar" aria-label="Vacuum Button"></button>
                <button type="button" id="vac" class="line" aria-label="Vacuum Button"></button>
                </div>
                <div class="layered"> 
                <div class="mention">
                <h4 >New Car</h4>
                <h5 contenteditable="true">$4500</h5>
                </div>
                <button type="button"v class="bar" aria-label="Vacuum Button"></button>
                <button type="button" id="car" class="line" aria-label="Vacuum Button"> </button>
                </div>
                <div class="addmore">              
                <img src="../icos/plus.svg" height="20px" width="20px" alt="ico" >
                 
                
                </div>

            </div>

            <div class="footer">
                <footer>Made with love ❤️ by Team <span class="brand">WellFinance</span></footer>
            </div>
            
         </div>

        </div>

        
    </div>

<script src="jquery-3.7.1.min.js"></script>
<script src="../home.js" ></script>
<script src="../elements.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</body>
</html>
